<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a <% if params[:controller] ==  "estados" %> <% end %> href="/estados">Estado</a>
  <a <% if params[:controller] ==  "enderecos" %> <% end %> href="/enderecos">Endereço</a>
  <a <% if params[:controller] ==  "cidades" %> <% end %> href="/cidades">Cidade</a>
</div>